.wrapper{
    position: relative;
    width: 420px;
    height: 450px;
    background: rgb(11, 24, 46);
    border-radius: 10px;
    color: rgb(149, 191, 228);
}
.wrapper-register{
    position: relative;
    width: 420px;
    height: 500px;
    background: rgb(11, 24, 46);
    border-radius: 10px;
    color: rgb(149, 191, 228);
}
.form-box{
    width: 100%;
    padding: 40px;
}

form h1{
    font-size: 36px;
    text-align: center;
}

form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin:30px 0;
    
}
.input-box input{
    width: 100%;
    height: 100%;
    border: 2px solid aliceblue;
    border-radius: 40px;
    background: transparent;
    color: rgb(149, 191, 228);
    font-size:18px;
    padding: 20px ;
    outline: none;
}
.input-box input::placeholder{
    color: rgb(168, 185, 199);
}
.input-box .icon{
    position: absolute;
    right: 30px;
    top: 30%;
    font-size: 18px;
}

form button{
    width: 100%;
    height: 50px;
    background: rgb(149, 191, 228);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
    
}

form .register{
    font-size: 16px;
    text-align: center;
    margin: 20px;
}
form .register p a{
    color: rgb(149, 191, 228);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.4s ease;

}
form .register p a:hover{
    font-size: 18px;
    color: rgb(189, 223, 252);

}
