/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    width: 100%; /* Da bi se razvukao do kraja ekrana */
    position: fixed; /* Da bi bio fiksiran na vrhu ekrana */
    top: 0; /* Postavlja ga na vrh ekrana */
    left: 0; /* Ukoliko želimo da bude levo poravnat */
    z-index: 1000; /* Da bi bio iznad ostalih sadržaja */
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-link,
  .nav-link-btn {
    color: #fff;
    text-decoration: none;
    padding: 10px  ;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .nav-link:hover,
  .nav-link-btn:hover {
    color: #97cbe5;
    transition: all 0.4s ease;
  }
  
  .nav-link-btn {
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 0px;
  }
  
  .nav-link-btn:hover {
    background-color: #0056b3;
  }
  .nav-item{
    padding-top: 10px;
  }