/* home.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Podešava visinu na celu visinu prozora (viewport) */
  }
  
  .content {
    color:#afc6de;
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #172636;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #385b81;
  }
  