@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --navbar-bgcolor: rgb(86, 83, 80);
  --navbar-color:aliceblue;
  --navbar-hover-color:rgb(199, 199, 199);

  --content-color: rgb(40, 61, 92);
  --content-bgcolor:rgb(233, 225, 241);

  --content-color-dark:rgb(133, 160, 200);
  --content-bgcolor-dark:rgb(47, 44, 48);
}
body {
  font-family: "Poppins", "sans-safir";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(26, 69, 210, 0.879)
}
